<% @page_title = "いいねしたポートフォリオ記事" %>
<h1><%= @page_title %></h1>

<% if @entries.present? %>
  <ul class="vote-list">
    <% @entries.each do |entry| %>
    <li>
      <%= link_to entry.title, entry %>
      by <%= link_to entry.author.name, [entry.author, :entries] %>
      - <%= link_to "削除", [:unlike, entry], method: :patch,
              data: { confirm: "削除しますか?" } %>
    </li>
    <% end %>
  </ul>
  <%= paginate @entries %>
<% else %>
  <p>いいねしたポートフォリオ記事はありません。</p>
<% end %>
