<nav class="menubar">
   <div id="nav-drawer">
      <input id="nav-input" type="checkbox" class="nav-unshown">
      <label id="nav-open" for="nav-input"><span></span></label>
      <label class="nav-unshown" id="nav-close" for="nav-input"></label>
    <div id="nav-content">
      <ul>
        <%= menu_link_to "TOP", :root %>
        <%= menu_link_to "ニュース", :articles %>
        <%= menu_link_to "イベント", :entries %>
        <%= menu_link_to "新規会員になるには", :about %>
        <% if current_member %>
          <%= menu_link_to "会員一覧", :members %>
          <% if current_member.administrator? %>
            <%= menu_link_to "管理ページ", :admin_root %>
          <% end %>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
