<!DOCTYPE html>
<html>
  <head>
    <!-- SEO対策 -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="「初めて作ったポートフォリオを共有しよう」というコンセプトで、未経験の方が作ったポートフォリオを集めたWebサービスです。">
    <meta name="keywords" content="未経験 ポートフォリオ,link">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@sevasu0504">
    <meta property="og:url" content="https://sevasu.com">
    <meta property="og:title" content="Link | 未経験のポートフォリオを共有しよう">
    <meta property="og:description" content="「初めて作ったポートフォリオを共有しよう」というコンセプトで、未経験の方が作ったポートフォリオを集めたWebサービスです。">
    <meta property="og:image" content="https://sevasu.com/link/app/assets/images/twitter-card.png">
    <title><%= page_title %></title>
    <link rel="icon" href="https://sevasu.com/link/app/assets/images/favicon.png" sizes="32×32">
    <link rel="icon" href="https://sevasu.com/link/app/assets/images/favicon.png" sizes="192×192">
    <link rel="apple-touch-icon-precomposed" href="https://sevasu.com/link/app/assets/images/favicon.png" sizes="270×270">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css" rel="stylesheet" type="text/css" media="all" >

  </head>

  <body>
    <div class="container">
      <header class="wow fadeInDown" data-wow-duration="2.5s">
        <%= render "shared/header" %>
      </header>

      <div class="about wow fadeInUp" data-wow-duration="2.5s">
        <div class="flex_box">
          <div class="about-img">
            <%= image_tag 'about-img.png',size: '160x56' %>
          </div>
          <div class="about-text">
            <h2>初めて作ったポートフォリオを共有しよう！</h2>
            <p>会員登録をした方のみ、自分の作ったポートフォリオを紹介できるようになっています。また、他の会員の方の情報を見ることができます。<br>
            会員登録されていない方はポートフォリオ記事の閲覧とニュースのみ見られます。</p>
            <%= link_to "＞もっと見る", about_path %>
          </div>
        </div>
      </div>

      <div class="flex_box wow fadeInUp" data-wow-duration="2.0s">
        <main class="clearfix">
          <% if flash.notice %>
            <p class="notice"><%= flash.notice %></p>
            <% end %>
          <%= yield %>
        </main>
        <aside id="sidebar">
          <%= render "shared/sidebar" %>
        </aside>
      </div>

      <footer>
        <%= render "shared/footer" %>
      </footer>
    </div>
  </body>
</html>
