<% @page_title = "アカウント情報の編集" %>

<h1><%= @page_title %></h1>

<div class="toolbar admin-regi"><%= link_to "マイアカウントに戻る", :account %></div>

<div class="pass-table">
	<%= form_for @member, as: "account", url: :account do |form| %>
  	<%= render "shared/member_form", form: form %>
  	<div class="event-submit"><%= form.submit %></div>
<% end %>
</div>

